  {{#extends 'base'}}

{{#block "content"}}

 <h1>Input the error to the text box</h1>
    <div class="container mt-3">
      
    <input type="text">
    <button type="submit">Submit</button>
  </div>

 {{/block}}

 {{#block "title"}}
 Faulty Report
 {{/block}}
{{/extends}}
  
  
  