{{#extends "base"}}
{{#block "content"}}
<h1>Submission has been recorded</h1>

<ul>
    <li>food name : {{foodName}}</li>
    <li>Calories:{{calories}}</li>
    <li>Meal:{{meal}}</li>
    <li>Tags:{{tag}}</li>
</ul>

{{/block}}

{{/extends}}